[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
googlemaps = "*"
requests = "*"
"bs4" = "*"
pandas = "*"
lxml = "*"
selenium = "*"
pillow = "*"
geopandas = "*"

[dev-packages]
jupyterlab = "*"
pyinstaller = "*"

[requires]
python_version = "3.6"
